# Environment variables (secrets)
.env

# Python
venv/
__pycache__/
*.pyc

# Django
db.sqlite3

# OS files
.DS_Store
firebase.json
.firebaserc

venv/*.pyc__pycache__/
.envdb.sqlite3*
.logstaticfiles/media/